*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0; 
}
  /*Início cabeçalho */
header {
    background-color:#ffffff;
    padding: 20px;
  }

.nav-list a {
color: #6c9f7f;
text-decoration: none;
transition: 0.3s;
}

.nav-list a:hover{
opacity: 0.7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #6c9f7f;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.menu-icon{
    cursor: pointer;
    display: none;
    padding-left: 40%;
    padding-bottom: 1%;
}
.menu-icon span {
    display: block;
    width: 30px;
    height: 2px;
    background: #333;
    margin: 4px 0;
  }
  
  @media (max-width: 999px) {
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: #ffffff;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .menu-icon{
        display: block;
    }
    .menu-icon{
        display: block;
    }
    .nav-list.active{
        transform: translateX(0);
    }
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
  }

/*Fim cabeçalho margin: 0; */

/* Início Introdução*/
.introducao {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    padding-left: 2rem;


    background-image: url('./imagens/bem_estar.png'); /* Substitua por sua imagem */
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
    color: #fff;
    padding: 2rem;
    display: flex;
}

h1 {
    font-family: Georgia, serif;
    font-size: 3rem;
    color: #006400;
}


.p_principal {
    font-size: 1.2rem;
    line-height: 1.5;
    width: 63%; 
    word-wrap: break-word;
    color: #333;
    font-family: Georgia, serif;
}
/* Fim Introdução*/

/* Início Section Hábito*/
.sec_habito {
    text-align: center;
    padding: 50px;
    background-color:#f0f0f0;
  }
  
  .sec_habito h2 {
    color: #006400;
    font-family: Georgia, serif;
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  .sec_habito p {
    color: #333;
    font-family: Georgia, serif;
    font-size: 18px;
    line-height: 1.6;
  }

  /* Fim Section Hábito  background-color: #f5f5f5;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; */

.sec_alimentacao {
    
   
}
.container_alimentacao{
display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  max-width: 800px;
  margin: 0 auto; 
  background-color: #f9f9f9; /* Fundo suave */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
 #h3_a {
    font-size: 28px;
    margin-bottom: 15px;
    color: #2c3e50; /* Cor mais escura */
    font-family: 'Arial', sans-serif; /* Fonte limpa */
  }
  
  
#p_a {
    font-size: 16px;
    line-height: 1.6;
    color: #34495e; /* Cor mais suave */
    text-align: justify;
  }
  #img_a {
    max-width: 40%; /* Aumenta a largura da imagem */
    height: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s; /* Efeito de transição */
  }
  
  #img_a:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
  }
  
  /* Adicionando margens para melhorar o espaçamento */
  .container_alimentacao > div {
    margin-right: 20px;
  }

/*
 .sec_alimentacao h4 {
    font-size: 22px;
    margin-top: 30px;
    color: #333;
  }
  
 .sec_alimentacao ol {
    list-style-type: none;
    padding: 0;
  }
  
 .sec_alimentacao li {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
 .sec_alimentacao li:hover {
    background-color:  
   #e6f7ff;
    cursor: pointer;
  }
    */